<div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-lg-6">
          <div class="page-header-left">
            <h3>Places
              <small>Multikart Admin panel</small>
            </h3>
          </div>
        </div>
        <div class="col-lg-6">
          <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item">
              <a href="index.html">
                <i data-feather="home"></i>
              </a>
            </li>
            <li class="breadcrumb-item">Physical</li>
            <li class="breadcrumb-item active">Places</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
  
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <form class="form-inline search-form search-box">
              <div class="form-group">
                <input class="form-control-plaintext" type="search" placeholder="Search..">
              </div>
            </form>
  
            <button type="button" routerLink="/addPlace" class="btn btn-primary add-row mt-md-0 mt-2">Add Place</button>
          </div>
  
          <div class="card-body">
            <div class="table-responsive table-desi">
              <table class="table all-package table-category" id="editableTable">
  
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
  
                <tbody>
                  <tr *ngFor="let place of places">
                    <td data-field="name">{{ place.name }}</td>
                
                    <td>
                      <a [routerLink]="['/updatePlace', place._id]">
                        <i class="fa fa-edit" title="Edit"></i>
                      </a>
  
                      <a (click)="deletePlace(place._id)">
                        <i class="fa fa-trash" title="Delete"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="places.length === 0">
                <h2>No Places available.</h2>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  