
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home One || Ziston || Ziston Form HTML Template</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">

    <!-- Fonts-->
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">


</head>

<body>

    <div class="preloader">
        <img src="assets/images/loader.png" class="preloader__image" alt="">
    </div><!-- /.preloader -->

    <div class="page-wrapper">


        <div class="site-header__header-one-wrap clearfix">

            <div class="header_top_one">
                <div class="header_top_one_container">
                    <div class="header_top_one_inner clearfix">

                        <div class="header_top_one_inner_left float-left">
                            <div class="header_social_1">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                                    <li><a href="#"><i class="fab fa-facebook-square"></i>Facebook</a></li>
                                    <li><a href="#"><i class="fab fa-pinterest"></i>Pinterest</a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i>Youtube</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="header_top_one_inner_right float-right">
                            <div class="header_topmenu_1">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fas fa-heart"></i>Wishlist</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>Sign in or Register</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <header class="main-nav__header-one">
                <nav class="header-navigation one stricky">
                    <div class="container-box clearfix">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="main-nav__left main-nav__left_one float-left">
                            <div class="logo_one">
                                <a href="index.html" class="main-nav__logo">
                                    <img src="assets/images/resources/logo.png" class="main-logo" alt="Awesome Image">
                                </a>
                            </div>
                            <a (click)="toggleSideMenu()" class="side-menu__toggler">
                                <i class="fa fa-bars"></i>
                              </a>
                              
                        </div>

                        <div class="main-nav__main-navigation one float-left">
                            <ul class="main-nav__navigation-box">
                                <li class="dropdown current">
                                    <a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home 01</a></li>
                                        <li><a href="index2.html">Home 02</a></li>
                                        <li><a href="index3.html">Home 03</a></li>
                                        <li class="dropdown"><a href="#">Header Versions</a>
                                            <ul>
                                                <li><a href="index.html">Header 01</a></li>
                                                <li><a href="index2.html">Header 02</a></li>
                                                <li><a href="index3.html">Header 03</a></li>
                                            </ul><!-- /.sub-menu -->
                                        </li>
                                    </ul><!-- /.sub-menu -->
                                </li>
                                <li class="dropdown">
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="how-it-works.html">How It Works</a></li>
                                        <li><a href="top-authors.html">Top Authors</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul><!-- /.sub-menu -->
                                </li>
                                <li class="dropdown">
                                    <a href="#">Listings</a>
                                    <ul>
                                        <li><a href="listings1.html">Listings-1</a></li>
                                        <li><a href="listings2.html">Listings-2</a></li>
                                        <li><a href="listings3.html">Listings-3</a></li>
                                        <li><a href="listings-details.html">Listings-Details</a></li>
                                    </ul><!-- /.sub-menu -->
                                </li>
                                <li>
                                    <a href="pricing.html">Pricing</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-detail.html">Blog Details</a></li>
                                    </ul><!-- /.sub-menu -->
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->

                        <div class="main-nav__right main-nav__right_one float-right">

                            <div class="header_btn_1">
                                <a href="#"><span class="icon-add"></span>Add listings</a>
                            </div>
                            <div class="icon_cart_box">
                                <a href="cart.html">
                                    <span class="icon-shopping-cart"></span>
                                </a>
                            </div>
                            <div class="icon-search-box">
                                <a href="#" class="main-nav__search search-popup__toggler">
                                    <i class="icon-magnifying-glass"></i>
                                </a>
                            </div>


                        </div>

                    </div>
                </nav>
            </header>
        </div>

        <!-- Banner Section One Start -->
        <section class="banner-one">
            <div class="banner-bg-slide"
                data-options='{ "delay": 5000, "slides": [ { "src": "assets/images/main-slider/slide_v1_1.jpg" }, { "src": "assets/images/main-slider/slide_v1_2.jpg" }, { "src": "assets/images/main-slider/slide_v1_1.jpg" } ], "transition": "fade", "timer": false, "align": "top" }'>
            </div><!-- /.banner-bg-slide -->

            <div class="container">
                <div class="content-box">
                    <div class="top-title">
                        <div class="sub-title">Let’s Explore</div>
                        <h1>your amazing city</h1>
                        <p>Find great places to stay, eat, shop, or visit from local experts.</p>
                    </div>
                    <form class="banner_one_form select_one">
                        <ul class="input_box_inner list-unstyled">
                            <li class="input_box">
                                <input type="text" name="listing_name" placeholder="What are you looking for?">
                            </li>
                            <li class="input_box banner_one_select_one">
                                <select class="selectpicker" data-width="100%">
                                    <option selected="selected">Location</option>
                                    <option>Default Sorting 1</option>
                                    <option>Default Sorting 2</option>
                                    <option>Default Sorting 3</option>
                                    <option>Default Sorting 4</option>
                                </select>
                            </li>
                            <li class="input_box banner_one_select_two">
                                <select class="selectpicker" data-width="100%">
                                    <option selected="selected">All catgories</option>
                                    <option>Default Sorting 1</option>
                                    <option>Default Sorting 2</option>
                                    <option>Default Sorting 3</option>
                                    <option>Default Sorting 4</option>
                                </select>
                            </li>
                        </ul>
                        <div class="banner_one_form_btn">
                            <button class="thm-btn" type="submit"><span
                                    class="icon-magnifying-glass"></span>Search</button>
                        </div>
                    </form>
                </div>
                <div class="banner_one_bottom">
                    <div class="banner_one_bottom_bg"
                        style="background-image: url(assets/images/shapes/banner-1-shape-1.png)">
                    </div>
                    <p>Or browse the selected categories</p>
                </div>
            </div>
        </section>

        <!-- Categories One Start -->
        <section class="categories_one">
            <div class="categories_one_shape wow slideInLeft animated" data-wow-delay="600ms"
                style="background-image: url(assets/images/shapes/map-1.png)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="categories_one_carousel owl-theme owl-carousel">
                            <!--Categories One Single-->
                            <div class="categories_one_single"  *ngFor="let category of list; let i=index">
                                <div class="categories_one_icon">
                                    <img [src]="'http://localhost:3000/' + category.imagePath" alt="" height="100px" width="100px">
                                </div>
                                <h4>{{ category.nom }}</h4>
                            </div>
                            <!--Categories One Single-->
                      
                            <!--Categories One Single-->
                        
                            <!--Categories One Single-->
                         
                            <!--Categories One Single-->
                     
                            <!--Categories One Single-->
                       
                            <!--Categories One Single-->
                   
                            <!--Categories One Single-->
                     
                            <!--Categories One Single-->
                       
                            <!--Categories One Single-->
                        
                            <!--Categories One Single-->
                       
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Popular Places Start-->
        <section class="popular_places">
            <div class="container-fullwidth">
                <div class="block-title text-center">
                    <h4>Around the World</h4>
                    <h2>Popular Places</h2>
                    <p>Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum</p>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="popular_places_carousel owl-theme owl-carousel">
                            <!--Popular Places Single-->
                            <div class="popular_places_single"  *ngFor="let pays of paysList">
                                <div class="popular_places_image">
                                    <img src="assets/images/resources/popular_places-img-1.jpg" alt="">
                                    <div class="listings">
                                        <h5>{{ pays.listingsCount }} Listings</h5>
                                    </div>
                                    <div class="popular_places_text">
                                        <p>Places in</p>
                                        <h3>{{ pays.name }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Food Lovers Start-->
        <section class="food_lovers" style="background-image: url(assets/images/backgrounds/food-lovers_bg.jpg)">
            <div class="food_lover_inner_shape-1"
                style="background-image: url(assets/images/shapes/food-lovers-shape-1.png)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="food_lovers_inner">
                            <p>Food lovers</p>
                            <h2>Visit the Amazing Food<br>Points in London</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Counter One Start-->
        <section class="counter_one">
            <div class="counter_one_shape wow slideInLeft animated" data-wow-delay="600ms"
                style="background-image: url(assets/images/shapes/counter_one_shape.png)"></div>
            <div class="container">
                <div class="counter_one_content">
                    <ul class="counter_one_box list-unstyled clearfix">
                        <li class="counter_one_single">
                            <h3><span class="counter counter-animate">8705</span></h3>
                            <p>Total Listings</p>
                        </li>
                        <li class="counter_one_single">
                            <h3><span class="counter counter-animate">480</span></h3>
                            <p>Company Staff</p>
                        </li>
                        <li class="counter_one_single">
                            <h3><span class="counter counter-animate">6260</span></h3>
                            <p>Places in the World</p>
                        </li>
                        <li class="counter_one_single">
                            <h3><span class="counter counter-animate">9774</span></h3>
                            <p>Happy People</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!--Latest Listings Start-->
        <section class="latest_listings">
            <div class="container">
                <div class="block-title text-center">
                    <h4>Handpicked places</h4>
                    <h2>Latest Listings</h2>
                    <p>Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum</p>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="latest_listings_carousel owl-theme owl-carousel">
                            <!--Latest Listings Single-->
                        
                            <!--Latest Listings Single-->
                            <div class="latest_listings_single"  *ngFor="let place of PlacesList" >
                                <div class="latest_listings_image">
                                    <img src="assets/images/resources/latest-listings-img-2.jpg" alt="">
                                    <div class="open">
                                        <p>Open</p>
                                    </div>
                                    <div class="heart_icon">
                                        <i class="icon-heart"></i>
                                    </div>
                                    <div class="author_img">
                                        <img src="assets/images/resources/latest_listings_au-img-2.png" alt="">
                                    </div>
                                    <div class="shopping_circle">
                                        <span class="icon-suitcase"></span>
                                    </div>
                                </div>
                                <div class="latest_listings_content">
                                    <div class="title">
                                        <h3><a href="listings-details.html">{{place.name}}<span
                                                    class="fa fa-check"></span></a></h3>
                                        <p>Lorem ipsum is not free dolor sit amet</p>
                                    </div>
                                    <ul class="list-unstyled latest_listings_contact_info">
                                        <li><i class="fas fa-map-marker-alt"></i>80 Broklyn Street USA</li>
                                        <li><a href="tel:+13456789"><i class="fa fa-phone"></i>92 666 888 0000</a></li>
                                    </ul>
                                    <div class="latest_listings_content_bottom">
                                        <div class="left">
                                            <h6>$$$$$</h6>
                                        </div>
                                        <div class="rating">
                                            <a href="#" class="clr-black">4.8</a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#" class="clr-gray"><i class="fa fa-star"></i></a>
                                            <a href="#" class="clr-gray"><i class="fa fa-star"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Latest Listings Single-->
                         
                            <!--Latest Listings Single-->
                        
                            <!--Latest Listings Single-->
                         
                            <!--Latest Listings Single-->
                       
                            <!--Latest Listings Single-->
                          
                            <!--Latest Listings Single-->
                           
                            <!--Latest Listings Single-->
                          
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--CTA One Start-->
        <section class="cta_one">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="cta_one_inner">
                            <div class="cta_one_inner_bg"
                                style="background-image: url(assets/images/backgrounds/cta-2-bg.jpg)"></div>
                            <div class="cta_one_img">
                                <img src="assets/images/resources/cta-1-img-1.jpg" alt="">
                            </div>
                            <div class="cta_one_content">
                                <div class="cta_one_text">
                                    <p>Sign up to get</p>
                                    <h2>Special Offers Every Day</h2>
                                </div>
                                <div class="cta_one_btn">
                                    <a href="#" class="thm-btn">Show more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Testimonials One Start-->
        <section class="testimonials_one">
            <div class="testimonial_one_map"
                style="background-image: url(assets/images/shapes/testimonial-one-map.png)">
            </div>
            <div class="container-box">
                <div class="block-title text-center">
                    <h4>Our testimonials</h4>
                    <h2>What They Say</h2>
                    <p>Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum</p>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="testimonials_one_carousel owl-theme owl-carousel">
                            <!--Testimonials One Single-->
                            <div class="testimonials_one_single">
                                <div class="shadow-box"></div>
                                <div class="testimonials_one_image">
                                    <img src="assets/images/testimonials/testimonials-1-img-1.png" alt="">
                                </div>
                                <div class="testimonials_one_text">
                                    <div class="testimonials_one_rating_box">
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </div>
                                    <div class="testimonials_one_text_box">
                                        <p>I was very impresed by the laundry services lorem ipsum is simply free text
                                            available used by copy typing refreshing. Neque porro noting est qui dolorem
                                            ipsum quia.</p>
                                    </div>
                                    <div class="testimonials_quote_icon">
                                        <span class="icon-quote"></span>
                                    </div>
                                    <div class="customer_info">
                                        <h3>Kevin Martin,<span>Customer</span></h3>
                                    </div>
                                </div>
                            </div>
                            <!--Testimonials One Single-->
                            <div class="testimonials_one_single">
                                <div class="shadow-box"></div>
                                <div class="testimonials_one_image">
                                    <img src="assets/images/testimonials/testimonials-1-img-2.png" alt="">
                                </div>
                                <div class="testimonials_one_text">
                                    <div class="testimonials_one_rating_box">
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </div>
                                    <div class="testimonials_one_text_box">
                                        <p>I was very impresed by the laundry services lorem ipsum is simply free text
                                            available used by copy typing refreshing. Neque porro noting est qui dolorem
                                            ipsum quia.</p>
                                    </div>
                                    <div class="testimonials_quote_icon">
                                        <span class="icon-quote"></span>
                                    </div>
                                    <div class="customer_info">
                                        <h3>Jessica Brown,<span>Customer</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Video One Start-->
        <section class="video-one" style="background-image: url(assets/images/backgrounds/video-one-bg.jpg)">
            <div class="container">
                <div class="block-title text-center">
                    <h4>Let’s Find out</h4>
                    <h2>How It Works</h2>
                    <p>Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum</p>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="video_one_image">
                            <div class="video_one_shape-1"
                                style="background-image: url(assets/images/shapes/video-1-shape-1.png)"></div>
                            <div class="video_one_shape-2 rotate-me"
                                style="background-image: url(assets/images/shapes/video-1-shape-2.png)"></div>
                            <img src="assets/images/resources/video-1-img-1.jpg" alt="">
                            <a href="https://www.youtube.com/watch?v=i9E_Blai8vk" class="video-one__btn video-popup"><i
                                    class="fa fa-play"></i></a>
                            <div class="video_one_left_text">
                                <p>Watch how</p>
                            </div>
                            <div class="video_one_right_text">
                                <p>listing works</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Four Boxes-->
        <section class="four_boxes">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <!--Four Boxes Single-->
                        <div class="four_boxes_single">
                            <div class="four_boxes_icon">
                                <span class="icon-selection"></span>
                            </div>
                            <h3>Choose A Category</h3>
                            <p>There many variation of pasages of lorem sum available.</p>
                            <div class="four_boxes_shape"></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <!--Four Boxes Single-->
                        <div class="four_boxes_single">
                            <div class="four_boxes_icon">
                                <span class="icon-focus"></span>
                            </div>
                            <h3>Find What You Want</h3>
                            <p>There many variation of pasages of lorem sum available.</p>
                            <div class="four_boxes_shape"></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <!--Four Boxes Single-->
                        <div class="four_boxes_single">
                            <div class="four_boxes_icon">
                                <span class="icon-delete"></span>
                            </div>
                            <h3>Select the Best Place</h3>
                            <p>There many variation of pasages of lorem sum available.</p>
                            <div class="four_boxes_shape"></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <!--Four Boxes Single-->
                        <div class="four_boxes_single">
                            <div class="four_boxes_icon">
                                <span class="icon-exploration"></span>
                            </div>
                            <h3>Go Out & Explore Now</h3>
                            <p>There many variation of pasages of lorem sum available.</p>
                            <div class="four_boxes_shape"></div>
                        </div>
                    </div>
                </div>
                <div class="four_boxes_bottom">
                    <p>Don’t hesitate, contact us for better business. <a href="#">Start a New Lisiting</a></p>
                </div>
            </div>
        </section>

        <!--Blog One Start-->
        <section class="blog_one">
            <div class="blog_one_bg" style="background-image: url(assets/images/backgrounds/blog-1-bg.jpg)"></div>
            <div class="container">
                <div class="block-title text-center">
                    <h4>From the blog</h4>
                    <h2>News & Articles</h2>
                    <p>Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum</p>
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <!--Blog One single-->
                        <div class="blog_one_single wow fadeInUp" data-wow-delay="100ms">
                            <div class="blog_image">
                                <img src="assets/images/blog/blog-1-img-1.jpg" alt="Blog One Image">
                            </div>
                            <div class="blog-one__content">
                                <ul class="list-unstyled blog-one__meta">
                                    <li><a href=""><i class="far fa-user-circle"></i>by Admin</a></li>
                                    <li><a href=""><i class="far fa-comments"></i>2 Comments</a>
                                    </li>
                                </ul>
                                <div class="blog_one_title">
                                    <h3><a href="blog-detail.html">Top 8 Amazing Places to Stay in Canada</a></h3>
                                </div>
                                <div class="blog_one_text">
                                    <p>Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum</p>
                                </div>
                                <div class="blog_one_date">
                                    <p>07<br>Aug</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <!--Blog One single-->
                        <div class="blog_one_single wow fadeInDown" data-wow-delay="200ms">
                            <div class="blog_image">
                                <img src="assets/images/blog/blog-1-img-2.jpg" alt="Blog One Image">
                            </div>
                            <div class="blog-one__content">
                                <ul class="list-unstyled blog-one__meta">
                                    <li><a href=""><i class="far fa-user-circle"></i>by Admin</a></li>
                                    <li><a href=""><i class="far fa-comments"></i>2 Comments</a>
                                    </li>
                                </ul>
                                <div class="blog_one_title">
                                    <h3><a href="blog-detail.html">Leverage agile frameworks to provide a robust</a>
                                    </h3>
                                </div>
                                <div class="blog_one_text">
                                    <p>Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum</p>
                                </div>
                                <div class="blog_one_date">
                                    <p>07<br>Aug</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <!--Blog One single-->
                        <div class="blog_one_single wow fadeInUp" data-wow-delay="300ms">
                            <div class="blog_image">
                                <img src="assets/images/blog/blog-1-img-3.jpg" alt="Blog One Image">
                            </div>
                            <div class="blog-one__content">
                                <ul class="list-unstyled blog-one__meta">
                                    <li><a href=""><i class="far fa-user-circle"></i>by Admin</a></li>
                                    <li><a href=""><i class="far fa-comments"></i>2 Comments</a>
                                    </li>
                                </ul>
                                <div class="blog_one_title">
                                    <h3><a href="blog-detail.html">Bring to the table win-win survival strategies to</a>
                                    </h3>
                                </div>
                                <div class="blog_one_text">
                                    <p>Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum</p>
                                </div>
                                <div class="blog_one_date">
                                    <p>07<br>Aug</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Brand One Start-->
        <section class="brand-one">
            <div class="container">
                <div class="brand-one__carousel owl-carousel thm__owl-carousel owl-theme"
                    data-options='{"loop": true, "autoplay": true, "autoplayHoverPause": true, "autoplayTimeout": 5000, "items": 5, "dots": false, "nav": false, "margin": 139, "smartSpeed": 700, "responsive": { "0": {"items": 2, "margin": 30}, "480": {"items": 3, "margin": 30}, "991": {"items": 4, "margin": 50}, "1199": {"items": 5, "margin": 139}}}'>
                    <div class="item">
                        <img src="assets/images/brand/brand-1-1.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-2.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-3.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-4.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-5.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-1.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-2.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-3.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-4.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="assets/images/brand/brand-1-5.png" alt="">
                    </div><!-- /.item -->
                </div>
            </div>
        </section>

        <!--Site Footer Start-->
        <footer class="site-footer">
            <div class="site_footer_shape-1" style="background-image: url(assets/images/resources/footer-shape-1.png)">
            </div>
            <div class="site_footer_map" style="background-image: url(assets/images/resources/footer-map.png)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="footer-widget__column footer-widget__about wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__logo">
                                <a href="#"><img src="assets/images/resources/footer-logo.png" alt=""></a>
                            </div>
                            <div class="footer-widget_about_text">
                                <p>Lorem ipsum dolor sit amet, consect etur adi pisicing elit sed do eiusmod tempor
                                    incididunt ut labore.</p>
                            </div>
                            <div class="footer_contact_info">
                                <div class="footer_contact_icon">
                                    <span class="icon-calling"></span>
                                </div>
                                <div class="footer_contact_number">
                                    <p>Phone</p>
                                    <h4><a href="tel:+123456789">92 666 888 0000</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6">
                        <div class="footer-widget__column footer-widget__explore wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__title">
                                <h3>Explore</h3>
                            </div>
                            <ul class="footer-widget__explore-list list-unstyled">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#"> My Account</a></li>
                                <li><a href="#">My Listings</a></li>
                                <li><a href="#">Pricing Packages</a></li>
                                <li><a href="#">User Dashboard</a></li>
                                <li><a href="#">Bookmarks</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6">
                        <div class="footer-widget__column footer-widget__categories wow fadeInUp"
                            data-wow-delay="300ms">
                            <div class="footer-widget__title">
                                <h3>Categories</h3>
                            </div>
                            <ul class="footer-widget__categories_list list-unstyled">
                                <li><a href="#">Restaurant</a></li>
                                <li><a href="#">Culture</a></li>
                                <li><a href="#">Shopping</a></li>
                                <li><a href="#">Beauty</a></li>
                                <li><a href="#">Hotels</a></li>
                                <li><a href="#">Hospitals</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="footer-widget__column footer-widget__newsletter wow fadeInUp"
                            data-wow-delay="400ms">
                            <div class="footer-widget__title">
                                <h3>Newsletter</h3>
                            </div>
                            <ul class="footer-widget_newsletter_address list-unstyled">
                                <li>88 Broklyn Golden Street, New York. USA</li>
                                <li><a href="mailto:needhelp@ziston.com">needhelp@ziston.com</a></li>
                            </ul>
                            <form>
                                <div class="footer_input-box">
                                    <input type="Email" placeholder="Enter email address">
                                    <button type="submit" class="button"><i
                                            class="fas fa-paper-plane"></i>Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="site-footer_bottom">
            <div class="container">
                <div class="site-footer_bottom_copyright">
                    <p>© Copyright 2020 by <a href="#">Layerdrops.com</a></p>
                </div>
                <div class="site-footer__social">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>





    </div><!-- /.page-wrapper -->

    <a (click)="scrollToTop()" class="scroll-to-top" title="Scroll to Top">
        <i class="fa fa-angle-up"></i>
      </a>
    <div class="side-menu__block ">
        <div (click)="toggleSideMenu1()" class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.side-menu__block-overlay -->
        <div class="side-menu__block-inner " >
            <div class="side-menu__top justify-content-end" >
                <a (click)="toggleSideMenu1()"  class="side-menu__toggler side-menu__close-btn"><img
                        src="assets/images/shapes/close-1-1.png" alt=""></a>
            </div><!-- /.side-menu__top -->

            <nav class="mobile-nav__container">
                <!-- content is loading via js -->
            </nav>

            <div class="side-menu__sep"></div><!-- /.side-menu__sep -->

            <div class="side-menu__content">
                <p><a href="mailto:needhelp@tripo.com">needhelp@ziston.com</a> <br> <a href="tel:888-999-0000">888 999
                        0000</a></p>
                <div class="side-menu__social">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>




</body>

</html>