  <!-- Page Sidebar Start-->

  <div class="main-header-left d-none d-lg-block">
    <div class="logo-wrapper">
        <br>
        <br>
       
    </div>
</div>
<div class="sidebar custom-scrollbar">
    <a href="javascript:void(0)" class="sidebar-back d-lg-none d-block"><i class="fa fa-times"
            aria-hidden="true"></i></a>
    <div class="sidebar-user">
        <img class="img-60" src="assets/admin/images/Rabii%20Zouita.jpg" alt="#">
        <div>
            <h6 class="f-14">Rabie Zouita</h6>
            <p>general manager.</p>
        </div>
    </div>
    <ul class="sidebar-menu">
        <li>
            <a class="sidebar-header" routerLink="dashboard"  >
                <i data-feather="home"></i>
                <span>Categories</span>
            </a>
        </li>

        <li>
            <a class="sidebar-header" routerLink="pays">
                <i data-feather="box"></i>
                <span>pays </span>

            </a>


        </li>
    
        <li>
            <a class="sidebar-header" routerLink="places">
                <i data-feather="box"></i>
                <span>places </span>

            </a>


        </li>
        
    </ul>
</div>
